/**
 Colors
 */

$light-100: #FFF;
$neutral-10: #17181C;
$neutral-20: #2E3038;
$neutral-30: #454854;
$neutral-40: #5C6070;
$neutral-50: #73778C;
$neutral-60: #8F93A3;
$neutral-70: #ABAEBA;
$neutral-80: #C7C9D1;
$neutral-90: #E3E4E8;
$neutral-100: #FFF;
$neutral-200: #EDEFF5;
$neutral-800: #3F4047;
$neutral-0: #000;



/**
 Breakpoints
 */

$break-desk: 1105px;
$break-tablet: 736px;
