.button-primary {
  @include set-typography-no-color(500, 18px, 24px);
  padding: 12px 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  border: none;
  cursor: pointer;

  &--light {
    color: $neutral-0;
    border: 1px solid $neutral-0;

    &:hover {
      background: $neutral-90
    }

    &:active {
      background: $neutral-80;
    }
  }

  &--dark {
    color: $neutral-100;
    background: $neutral-0;

    &:hover {
      background: $neutral-10
    }

    &:active {
      background: $neutral-20;
    }
  }

  &__icon {
    margin-right: 8px;
  }
}